

.header___{
    width: 100vw !important;
    border: 1px solid #eaeaea;
    height: 62px;
    position: fixed;
    top: 0;
    box-shadow: 3px 3px 3px #eaeaea;
    background: #fff;
}

.ttttop{
    width: inherit !important;
    height: 96%;
    object-fit: cover;
    cursor: pointer;
}