
.replace_fixed_top{
  width: 100%;
  height: 65px;
  /* border: 2px solid red; */
}

.replace_side_anonymous__{
  /* border: 1px solid #000; */
  width: 17.5%;
  height: inherit !important;
}

.body_dis{
  display: flex;
}

.shar_doc{
  color: #777;
  font-size: 17px;
  margin-top: 30px;
  font-family: sans-serif;
  padding-left: 2em;
}

.hej_r__{
  border: 1px solid buttonface;
  margin-top: -10px;
}



.Content_box__qtfEl {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px #ccc;
  cursor: pointer;
  height: 13.5rem;
  transform: scale(.9);
  transition: all .5s;
  /* max-width: 50%; */
  min-height: 1px;
  width: 100%;
  width: 310px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
}

.Content_box__qtfEl:hover{
  transform: scale(1.0000000000001);
}

.Content_box__qtfEl img {
  height: 70%;
  object-fit: cover;
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

.Content_box__qtfEl h4 {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem 0 0;
}

.Content_box__qtfEl h4 img {
  margin: 0 1.2rem 0 0;
  width: 15px;
}

.first_sect{
  /* margin-left: 2em; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

span{
  font-family: sans-serif;
}




/* @media (max-width: 1000px) {
  .first_sect{
  }
} */